<h3>Здравствуйте</h3>

<p>К вашей встрече поступил новый комментарий от {{ author_email }}.</p>

<quote>
    {{ text }}
</quote>

<p>Этот комментарий пока скрыт, чтобы открыть его перейдите по ссылке
    <a href="{{ approve_url }}">{{ approve_url }}</a></p>

<p>Если комментарий вам не нравится, вы можете удалить его по ссылке
    <a href="{{ deny_url }}">{{ deny_url }}</a></p>



<p>Просмотреть его можно по ссылке <a href="{{ meeting_url }}">{{ meeting_url }}</a></p>